<!DOCTYPE html>
<html>
<head>
 <title>Sreeja Reddy Challa</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">       
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/Home.css">
        <link rel="stylesheet" href="css/guestbook.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    
</head>
  <body class="background">
              <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Sreeja Reddy Challa</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="TryIt.html">TryIt</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                        <li><a href="Guest">GuestBook</a></li>
                    </ul>
                </nav>
            </header>
        </div>

<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right" style="float:right">
Write in the guestbook
</a>
</h1>

 
 